extends layout

block content
	.container
		h2 Nueva impresión
		.row
			.col-lg-6.col-md-6.col-sm-12
				.row
					h4 Vista Previa del documento
					img.img-fluid.img-thumbnail(src="/assets/img/vistaPrevia.png")
			.col-lg-6.col-md-6.col-sm-12
				h4 Detalle del documento
				table.table.table-bordered.text-center
					tbody
						tr
							td Número de páginas
							td 15
						tr
							td Precio total
							td S/ 3.50
				
				a.btn.btn-success.btn-md(href="/pago") Realizar pago