extends layout

block content
	.container
		h2 Historial de impresiones
		table.table.table-bordered.text-center
			thead
				tr
					th Fecha
					th Archivo
					th Total
			tbody
				tr
					td 01/12/2019
					td Solucionario.pdf
					td S/ 5.00
				tr
					td 22/11/2019
					td Monografía.pdf
					td S/ 1.00
				tr
					td 14/11/2019
					td Examen Parcial.pdf
					td S/ 2.00
				tr
					td 12/11/2019
					td Planchitas.pdf
					td S/ 1.50
				tr
					td 8/11/2019
					td Trabajo.pdf
					td S/ 2.70
		
		a.btn.btn-success.btn-md(href="/impresion") Nueva impresión