extends layout

block content
	.container
		h2 Nueva impresión
		.row
			.col-lg-6.col-md-6.col-sm-12
				.row.justify-content-center
					.custom-file
						input#customFile.custom-file-input(type='file')
						label.custom-file-label(for='customFile') Seleccionar Archivo
				.row
					h4 Vista Previa del documento
					img.img-fluid.img-thumbnail(src="/assets/img/vistaPrevia.png")
			.col-lg-6.col-md-6.col-sm-12
				h4 Configuración del documento
				.custom-control.custom-switch
					input#imprimirDobleCara.custom-control-input(type='checkbox')
					label.custom-control-label(for='imprimirDobleCara') Imprimir a doble cara
				.custom-control.custom-switch
					input#imprimirColor.custom-control-input(type='checkbox')
					label.custom-control-label(for='imprimirColor') Imprimir a colores
				.form-check
					input#gridRadios1.form-check-input(type='radio', name='gridRadios', value='option1', checked='')
					label.form-check-label(for='gridRadios1')
						| Engrapar
				.form-check
					input#gridRadios2.form-check-input(type='radio', name='gridRadios', value='option2')
					label.form-check-label(for='gridRadios2')
						| Folder manila
				.form-check.disabled
					input#gridRadios3.form-check-input(type='radio', name='gridRadios', value='option3')
					label.form-check-label(for='gridRadios3')
						| Folder manila y faster
				.form-check.disabled
					input#gridRadios4.form-check-input(type='radio', name='gridRadios', value='option4')
					label.form-check-label(for='gridRadios4')
						| No incluir nada

				h5 Páginas a imprimir
				.form-inline
					.form-group
						label.mr-2(for='inputDesde') Desde:
						input#inputDesde.form-control.form-control-sm.mb-2.mr-sm-2(type='number', placeholder='Inicio', value="1", style="width: 70px")
						label.mr-2(for='inputDesde') Hasta:
						input#inputDesde.form-control.form-control-sm.mb-2.mr-sm-2(type='number', placeholder='Fin', value="1", style="width: 70px")
				a.btn.btn-warning.btn-md(href="/detalle") Proceder