extends layout.pug
block styles
	link(href="/css/login.css", rel="stylesheet")
block content
	.container-fluid
		.row.mt-4
			.col-lg-8.col-sm-4
			.col-lg-4.col-sm-8
				<div class="card bg-light mb-3">
					.card-header.text-center Iniciar sesión en Ctrl + P
					<div class="card-body">
						<p class="card-text">
							form(action="/login", method="POST")
								<div class="form-group row">
									<label for="email" class="col-sm-4 col-form-label">Código UNI</label>
									<div class="col-sm-8">
										<input type="text" name="email" class="form-control" id="email" placeholder="Código UNI">
									</div>
								</div>
								<div class="form-group row">
									<label for="password" class="col-sm-4 col-form-label">Contraseña</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
									</div>
								</div>
								<a href="/menu" class="btn btn-primary btn-block">Login</a>
						</p>
					</div>
				</div>
		.col-lg-1