extends layout.pug
block content
	.container
		h2 Menú de Opciones
		.row.justify-content-center
			.col.m-5
				a.btn.btn-success.btn-lg(href="/impresion") Nueva Impresión
			.col.m-5
				a.btn.btn-warning.btn-lg(href="/historial") Historial de Impresiones