extends layout

block content
	.container
		h2 Seleccionar medio de pago
		.row.justify-content-center
			button.btn.btn-info.btn-lg.my-5 Yape
		.row.justify-content-center
			button.btn.btn-primary.btn-lg.my-5 Visa
		.row.justify-content-center
			button.btn.btn-secondary.btn-lg.my-5 Efectivo